/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

@import "global-styles";

.cs-admin-map {
    height: calc(752px*694/932);
  .cs-map-item:hover {
    cursor: pointer;
    background:rgba(255,255,255,0.1);
  }
  .cs-map-item__inactive {
    background:rgba(0,0,0,0.3);
    &:hover {
      background:rgba(255,0,0,0.4);
    }
  }
  .cs-map-item__occupied {
    background:rgba(255,255,255,0.3);
    &:hover{
      background:rgba(255,0,0,0.6);
    }
  }
}

.cmb2-id--c4h-cs-grid .postbox .inside {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

#_c4h_cs_grid_repeat .cmb-row {
    border:0px;
}

.cmb2-id--c4h-cs-grid .postbox .inside .cmb-row {
    padding: 0 1em 1.8em;
}

.cmb2-id--c4h-cs-grid .postbox .inside .cmb-row .cmb-th,
.cmb2-id--c4h-cs-grid .postbox .inside .cmb-row .cmb-td {
    float:none;
    width:auto;
}

.cmb2-id--c4h-cs-grid .cmb-group-title,
.cmb2-id--c4h-cs-grid .cmbhandle {
    display:none;
}

.cs-map-item {
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid black;
  box-sizing: border-box;
}